{% extends 'form_div_layout.html.twig' %}

{% block file_widget %}

    {{ block('form_widget') }}
    {% if download_url is defined %}
        <p><a href="{{ download_url }}" class="{{html_class}}">{{ html_icon|raw }} {{ html_label }}</a></p>
    {% endif %}
    
{% endblock %}
