{% if data is not null %}
    {% if data is is_image %}
    <a onclick="window.open('{{ path('kmj_upload_download', {id: data })}}', 'newwindow', 'width=800, height=600')">
        <img src="{{ path('kmj_upload_download', {id: data })}}" {{ attributes|raw }}/>
    </a>
    {% else %}
        {{ download_link(data, options) }}
    {% endif %}
{% else %}
    <img src="{{ asset('bundles/upload/images/no-image.png')}}" {{ attributes|raw }}/>
{% endif %}